<!DOCTYPE html>
<html lang="en" ng-app="jackalApp">
    <head>
        <title>Profile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link type="text/css" rel="stylesheet" href="/resources/bootstrap/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="/resources/profile/profile.css" />
        
        <style>
            @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
        </style>
    </head>
    <body ng-controller="DatabaseCtrl">
        <div class="navbar navbar-inverse navbar-static-top ui-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Jackal</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" ng-show="user">Welcome, {{user.name}}!</a></li>
                        <li><a ng-click="login()" ng-hide="user">Login with Github</a></li>
                        <li><a ng-click="logout()" style="font-size: 1em;">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container" >
            <div class="row">
                <div class="well col-md-3 side-bar">
                    <ul class="side-bar-items">
                        <li><a href="javascript:void(0)" id="myCode">My Code <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li><a href="javascript:void(0)" id="sharedCode">Shared Code <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        <li><a href="javascript:void(0)" id="help">Help <span class="glyphicon glyphicon-chevron-right"></span></a></li>        
                    </ul>
                </div>
                
                <div class="col-md-9 main-section">
                    <div class="tools">
                        <a href="console.html" class="btn btn-default" id="createSession"><span class="glyphicon glyphicon-file"></span> Create new session</a>
                        <form role="form" class="search-bar col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search your code">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="" id="myCodeSession">
                        <h2>My Code</h2>
                        <hr>
                        <div class="file-row row" ng-repeat="session in myPrivateSessions">
                            <p class="col-md-3 title"><a href="console.html?{{session.$id}}?{{user.uid}}">{{session.title}}</a></p>
                            <p class="col-md-4">Last edited {{session.lastChanged | date:'short'}}</p>
                            <p class="col-md-4  fork-detail">Forked from someoneImportant022</p>
                            <button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-default btn-sm" ng-click="setActive(session.$id, session, false)">
                                <span class="glyphicon glyphicon-info-sign" ></span>
                            </button>
                        </div>
                        <div class="file-row row" ng-repeat="session in myPublicSessions">
                            <p class="col-md-3 title"><a href="console.html?{{session.$id}}?{{user.uid}}">{{session.title}}</a></p>
                            <p class="col-md-4">Last edited {{session.lastChanged | date:'short'}}</p>
                            <p class="col-md-4  fork-detail">Forked from someoneImportant022</p>
                            <button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-default btn-sm" ng-click="setActive(session.$id, session, true)">
                                <span class="glyphicon glyphicon-info-sign" ></span>
                            </button>
                        </div>
                        
                    </div>
                    
                    
                    <div class="" id="sharedCodeSession">
                        <h2>Shared Code</h2>
                        <hr>
                        <div class="file-row row" ng-repeat="session in myPublicSessions">
                            <p class="col-md-3 title"><a href="console.html?{{session.$id}}?{{user.uid}}">{{session.title}}</a></p>
                            <p class="col-md-4">Last edited {{session.lastChanged | date:'short'}}</p>
                            <p class="col-md-4 fork-detail">Forked from someoneImportant021</p>
                            <button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-default btn-sm" ng-click="setActive(session.$id, session, true)">
                                <span class="glyphicon glyphicon-info-sign" ></span>
                            </button>
                        </div>
                    </div>
                  
                    <div class="" id="helpSession">
                        <h2>Help</h2>
                        <hr>
                    </div>
                </div>
               
                <!-- Modal -->
                
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Edit</h3>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-addon">Title</span>
                                <input type="text" class="form-control" ng-model="active.title">
                            </div>
                            <input type="checkbox" ng-model="active.public"> Public
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-defualt btn-sm" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="saveSession()" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="removeSession()" data-dismiss="modal">Delete</button> 
                        </div>
                    </div>
                </div>
            </div>
                
            </div>
        </div>
        
        
        <script type="application/javascript" src="/resources/bootstrap/js/jquery.js" ></script>
        <script type="application/javascript" src="/resources/bootstrap/js/bootstrap.js" ></script>
        <script type="application/javascript" src="/resources/bootstrap/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="/resources/profile/profile.js" ></script>
        
        <script type="application/javascript" src="/resources/server/angular.js"></script>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
        <script type="application/javascript" src="/resources/server/app.js"></script>
        
        <script>
            
        </script>
    </body>
</html>
